#images {
	line-height: 0;
	-webkit-column-count: 3;
	-webkit-column-gap:   10px;
	-moz-column-count:    3;
	-moz-column-gap:      10px;
	column-count:         3;
	column-gap:           10px;  
}

#images img {
	width: 100% !important;
	height: auto !important;
	margin-bottom: 10px;
}

#images img.dim {
	opacity: 0.1;
}